### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Hardhat files
cache
artifacts

# Depyloments
## Ucomment if you want to save deployments
deployments/*
!deployments/.gitkeep

# Deps
node_modules


# Dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
logs
*.log
.pnpm-debug.log*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.pot

# Sphinx documentation
docs/_build/

### Custom ###

coverage
coverage.json
typechain
typechain-types
__pycache__
venv

src/**/out/**
!src/**/out/**/.gitkeep
